.distill-site-nav {
  background-color: #5B6770; /* #455a64 */ 
  font-weight: 600;
}


.distill-site-header .logo img{
  max-height: 30px; 
  margin-top: 10px;
}

.distill-site-header .right{
  font-size: 70px;
}

h1 {
  color: #BA0020;
}

